* {
  font-family: 'Montserrat', sans-serif;
}

body {
  font-size: 1em;
  background-color: #fafafa;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; 
}

.container {
  margin: 2em auto;
  width: 50%;
}

.pomodoro {
  box-shadow: 0 0 40px rgba(0,0,0,.1);
  padding: 20px;
}

.pomodoro__title {
  color: #2a2a2a;
  text-align: center;
  margin: 0 0 20px;
}

.pomodoro__body {
  margin: 0 0 20px;
}

.pomodoro__input {
  background: transparent;
  border: 0;
  border-bottom: 3px solid transparent;
  font-size: 3em;
  width: 100%;
  transition: border-color 0.3s ease;  
}

.pomodoro__input:focus {
  outline: 0;
  border-bottom-color: #2abfd4;
}

.pomodoro__footer {
  padding: 1em 0;
  width: 100%;
}

.btn {
  border: 0;
  font-size: 1em;
  padding: 12px;
  margin-right: 1em;
  min-width: 100px;
}

.btn--start {
  background-color: #0099ff;
  color: #fff;
}

.btn--start:hover,
.btn--start:focus {
  background-color: #0f7ae5;
}

.btn--reset {
  background: #ddd;
}

.btn--reset:hover,
.btn--reset:focus {
  background-color: #ccc;
}

@media screen and (max-width: 730px) {
  .pomodoro__input {
    font-size: 2em;
  }

  .pomodoro__footer .btn {
    display: block;
    width: 100%;
  }

  .pomodoro__footer .btn--start {
    margin-bottom: 20px;
  }
}