.pomodoro {
  box-shadow: 0 0 40px rgba(0,0,0,.1);
  padding: 20px;
  text-align: center;
  max-width: 600px;
  min-width: 300px;
}

.pomodoro__title {
  color: #2a2a2a;
  text-align: center;
  margin: 0 0 20px;
}

.pomodoro__body {
  margin: 0 0 20px;
}

.pomodoro__input {
  background: transparent;
  border: 0;
  border-bottom: 3px solid transparent;
  transition: border-color 0.3s ease;  
}

.pomodoro__text-area {
  display: inline-block;
  font-size: 3.5em;
  border-bottom: 3px solid transparent;
  transition: border-color 0.3s ease;
}

.pomodoro__cursor-focus {
  border-right: 1px solid currentColor;
}

.pomodoro__input:focus + .pomodoro__text-area {
  border-bottom-color: #2abfd4;
  color: #ccc;
}

.pomodoro__footer {
  padding: 1em 0;
  width: 100%;
}

.pomodoro__unit {
  font-size: 0.5em;
  padding-right: 0.9em;
}

.pomodoro__valid,
.pomodoro__valid + .pomodoro__unit {
  color: #2a2a2a;
}


/* Media queries */
@media screen and (max-width: 730px) {
  .container {
    width: 80%;
  }

  .pomodoro__footer .btn {
    display: block;
    width: 100%;
  }

  .pomodoro__footer .btn--start {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 550px) {
  .pomodoro__text-area {
    font-size: 3em;
  }
}

@media screen and (max-width: 415px) {
  .pomodoro__text-area {
    font-size: 2.5em;
  }
}

@media screen and (max-width: 330px) {
  .pomodoro__text-area {
    font-size: 2em;
  }
}